importlib-metadata==1.4.0
importlib-resources==1.0.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.logging==3.0.0
jaraco.stream==3.0.0
jaraco.text==3.2.0
keyboard==0.13.4
more-itertools==8.1.0
pyperclip==1.7.0
pytz==2019.3
six==1.14.0
tempora==2.1.0
zipp==2.0.0
